.contenedor-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
  }

.cuadrado-home img {
    width: 200px;
    height: 100px;
    background-color: #252c25;
    margin: 30px;
}

.portada-home img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    margin-top: -14px;
    
}
.bienvenido-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bienvenido-home img{
    width: 100px;
    height: 60px;
}

.productos-favoritos {
    display: flex;
    justify-content: center ;
    padding: 40px 20px;
    background-color: #f9f9f9;
  }
  
.productos-favoritos h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
.productos-lista {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
  }
  
.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 370px;
    text-align: center;
  }
  
.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
.producto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
.producto-nombre {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
.producto-precio {
    font-size: 16px;
    color: #1a73e8;
    font-weight: 600;
  }
  
.productos-favoritos p {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 20px;
  }

.tituloFav{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
  